body{
    background: #f8f9fa;
}
.container{
    background:white;
    margin-top: 15px;
    margin-bottom: 15px;
}
span,a{
    display: inline-block;
    vertical-align: top;
}
.p-left span,a{
    width:100%;
}
.box-down a{
    width:auto;
}
.p-pro span{
    width:auto;
}
h1{
    font-family: 'EB Garamond', serif;
}
h2{
    font-family: 'EB Garamond', serif;
}
h3{
    margin-top: 15px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}
h4{
    font-family: 'Poppins', sans-serif;
}
.gray-text{
    color:#92969a;
}
.black-text{
    font-weight: bold;
}
.m-text{
    margin-top: 15px;
}
.m-text-min{
    margin-top: 10px;
}
.m-bo-text{
    margin-bottom: 10px;
}
.p-title{
    font-size: 22px;
    width:auto;
}
@media(max-width:800px){
    .r-mar{
        margin-top: 15px;
    }
    .r-mar-p{
        margin-top: 10px;
    }
    .text-p-res{
        text-align: center;
    }
    .l-pdf-res{
        width: 100%;
    }
}